
<div class="container">
  <hr>

  <footer>
    <p>&copy; {{.Title}} {{.Date}} - Site created by <a href="https://ma.rkus.io">Markus Tenghamn</a> - Fork this project on <a href="https://github.com/uberswe/bcrypt_fun">Github</a></p>
  </footer>
</div>

  <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

  <script src="/assets/js/vendor/bootstrap.min.js"></script>

  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>


<!-- Start Open Web Analytics Tracker -->
<script type="text/javascript">
  //<![CDATA[
  var owa_baseUrl = 'https://a.beubo.com/';
  var owa_cmds = owa_cmds || [];
  owa_cmds.push(['setSiteId', '80a82a56d6603015489c78eed702a0da']);
  owa_cmds.push(['trackPageView']);
  owa_cmds.push(['trackClicks']);

  (function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
  }());
  //]]>
</script>
<!-- End Open Web Analytics Code -->

</body>
  </html>