<!DOCTYPE html>
<html>
	<head>
		<title>Application error</title>
	</head>
	<body>
		<h1>Oops, an error occured</h1>
		<p>
			This exception has been logged.
		</p>

		<!-- Start Open Web Analytics Tracker -->
		<script type="text/javascript">
			//<![CDATA[
			var owa_baseUrl = 'https://a.beubo.com/';
			var owa_cmds = owa_cmds || [];
			owa_cmds.push(['setSiteId', '80a82a56d6603015489c78eed702a0da']);
			owa_cmds.push(['trackPageView']);
			owa_cmds.push(['trackClicks']);

			(function() {
				var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
				owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
				_owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
				var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
			}());
			//]]>
		</script>
		<!-- End Open Web Analytics Code -->


	</body>
</html>
